<div class="container-fluid sticky-bottom p-5">
    <div class="container d-flex justify-content-start">
        <div class="row g-2">
            <div class="col-12">
                <h3 class="px-3">
                    Where to find me
                </h3>
            </div>
            <div class="col-4">
                <div class="px-3">
                    <div>
                        Github @ 
                        <a href="https://github.com/AlanZhihaoLu" class="text-decoration-none">
                            <span>AlanZhihaoLu</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="px-3">
                    Email @
                    <a href="mailto:alanzhihaolu@gmail.com" class="text-decoration-none">alanzhihaolu@gmail.com</a>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="p-5">
                    Human-written webpage created by Alan Lu (human).
                </div>
            </div>
        </div>
    </div>
</div>