<div class="p-5">
</div>
<div class="container-fluid fixed-bottom px-5 py-1 d-flex justify-content-around align-items-end bg-white border">
    <div class="p-2">
        <span>
            Github @ 
            <a href="https://github.com/AlanZhihaoLu" class="text-decoration-none">
                <span>AlanZhihaoLu</span>
            </a>
        </span>
        <span>
            <div>
                Email @
                <a href="mailto:alanzhihaolu@gmail.com" class="text-decoration-none">alanzhihaolu@gmail.com</a>
            </div>
        </span>
    </div>

    <div class="p-2">
        Human-written webpage created by Alan Lu (human).
    </div>
</div>